:root {
  --main-font: 'Roboto', sans-serif;
  --secondery-font: 'Raleway', sans-serif;
  --main-color: #757575; 
  --color-black: #212121;
  --color-hover: #2196F3;
  --color-background: #2F303A;
  --color-white: #FFF;
  --color-second-background: #F5F4FA;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

h1, h2, h3, h4, h5, h6, ul,
ol{
  margin: 0;
  padding: 0;
}

ul,ol{
  margin: 0;
  padding: 0;
}

p, figure, button{
  margin: 0;
}

img {
display: block;
}

.list{
  list-style-type: none;
}

.link{
  text-decoration: none;
  font-style: none;
}

.container{
  width: 1200px;
  align-items:center;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 15px;
  padding-left: 15px;
}
/* ============ heder ============== */
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.header .container{
  display: flex;
  padding-top: 25px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ECECEC;

  /* align-items: center; */
}

.navigation{
  display: flex;
}

.navigation-list{
 display: flex;
 align-items: center;
}
.header-address-list{
  display: flex;
}

.logo{
  padding-right: 93px;
}

.navigation-list-item:not(:last-child){
  margin-right: 46px;
}

.header .header-address {
  margin-left: auto;
}

.header-tel{
  margin-left: 50px;
}
  
/* ===========   HEADER  =============== */
/* ===========   SECTION ORDERS =============== */
.orders  {
  background-color: var(--color-background);
}

.order-title {
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.order-btn {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 200px;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  background: var(--color-hover);
  color: var(--color-white);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.order-btn:hover,
.order-btn:focus {
  cursor: pointer;
}
/* =========== END  SECTION ORDERS =============== */

/* =========== LOGO ================ */

.logo,
.footer-logo{
font-family: 'Raleway';
text-decoration: none;
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
color:var(--color-black);
}
.logo-span{
  color:var(--color-hover);
}

.footer-logo {
  color: var(--color-white)
}

/* =================== END LOGO =================== */

/* ==================== NAVIGATION =====================  */
.navigation-link,
.header-address-link{
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--color-black);
}

.footer-address-link:hover,
.footer-address-link:focus,
.header-address-link:hover,
.header-address-link:focus,
.navigation-link:hover,
.navigation-link:focus{
cursor:pointer;
color: var(--color-hover);
}

.header-address-link{
color: var(--main-color);
}

/* ==================== END NAVIGATION =====================  */


/* ======================== CONTENT MAIN ======================= */



 /* 4x DISCRIPION  */
.discription-title{
font-weight: 700;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--color-black);
}

.discription-text{
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.03em;
display:block;
}

/* WHAT WE DO */
.section-title{
font-weight: 700;
font-size: 36px;
line-height: 1.166;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-black);
}
/* TEM */
.team{
  background-color: var(--color-second-background);
}
.person-name{
font-weight: 500;
font-size: 16px;
line-height: 1.187;
letter-spacing: 0.03em;
color: var(--color-black);
}

.person-position{
font-size: 16px;
line-height: 1.187;
letter-spacing: 0.03em;
}
/* ======================== END CONTENT MAIN ======================= */

/* =============================== PORTFOLIO CONTENT =================== */
.portfilio-btn{
font-weight: 500;
font-size: 16px;
line-height: 1.625;
text-align: center;
letter-spacing: 0.03em;
border: none;
border-radius: 4px;
background-color: var(--color-second-background);
color: var(--color-black);
}

.portfilio-btn:hover,
.portfilio-btn:focus{
cursor:pointer;

background: var(--color-hover);
color:var(--color-white);

box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.portfolio-title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--color-black);
}

.portfolio-name{
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
}
/* ===========================  END PORTFOLIO CONTENT =================== */


/* ==================== FOOTER ==================== */
footer{
background-color: var(--color-background);
}

.footer-address-link{
text-decoration: none;
font-style: normal;
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.03em;
color: #ffffff80;
}

.footer-link--style{
text-decoration: underline;
}

.footer-link--color {
  color:#FFF;
}
/* ==================== END FOOTER ==================== */